/*@import url(https://fonts.googleapis.com/css?family=Cardo:400,400italic,700&subset=latin,latin-ext,greek-ext,greek);*/


/* 
@font-face {
    font-family: LMR;
    src: url("lmr/lmroman10-regular.otf");
}
@font-face {
    font-family: LMR;
    src: url("lmr/lmroman10-italic.otf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: LMR;
    src: url("lmr/lmroman10-bold.otf");
    font-weight: bold;
}
 */

@font-face {
    font-family: ETBembo;
    src: url("bembo/ETBembo-RomanLF.ttf");
}
@font-face {
    font-family: ETBembo;
    src: url("bembo/ETBembo-DisplayItalic.ttf");
    font-weight: normal;
    font-style: italic;
}
html {
    font-size: 15pt;
    font-family: ETBembo;
    font-weight: 300;
    line-height: 1.75rem;
    background-color: #f7f7f7;
    color: #111;
}
@font-face {
    font-family: 'font-awesome';
    src: url('font/font-awesome.eot?31078058');
    src: url('font/font-awesome.eot?31078058#iefix') format('embedded-opentype'), url('font/font-awesome.woff?31078058') format('woff'), url('font/font-awesome.ttf?31078058') format('truetype'), url('font/font-awesome.svg?31078058#font-awesome') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#menuBtn {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    font-size: 3rem;
    color: #c3c3c3;
    position: fixed;
    margin-top: 0;
    display: block;
    top: 5vh;
    left: 4%;
    /*    text-shadow: 1px 1px 2px #8e8e8e;*/
    font-family: "font-awesome";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /*    margin-left: .2em;*/
    /* remove if not needed */
    /* You can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    z-index: 3;
}
.rotate {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#container {
    overflow-x: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.slide {
    transform: translateX(30%);
    -webkit-transform: translateX(30%);
}
#menuBtn.slide {
    transform: translateX(500%) rotate(-90deg);
    -webkit-transform: translateX(400%) rotate(-90deg);
}
#sidebar.slide {
    transform: translateX(117%);
    -webkit-transform: translateX(117%);
}
#sidebar {
    width: 25%;
    min-width: 240px;
    padding: 2.5%;
    right: 101%;
    opacity: 0.95;
    background: #011550;
    color: white;
    top: 17vh;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    box-shadow: 1px 1px 5px #2c2c2c;
    height: 65vh;
    position: fixed;
    z-index: 2;
}
#sidebar.visible {
    left: 0;
}
.main-content {
    width: 100%;
    padding-top: 60px;
}
.post-date {
    padding-bottom: 1rem;
    margin-left: 5%;
    float: right;
    clear: right;
    width: 25%;
    font-size: 0.8rem;
}
.post-byline {
    float: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 25%;
    clear: right;
}
.author {
    height: 48px;
    margin-bottom: 1rem;
}
.post {
    width: 50%;
    margin-left: 12%;
}
.avatar {
    width: 20%;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    float: left;
}
.author-name {
    margin-left: 5%;
    position: relative;
    top: 25%;
}
img {
    /*    mix-blend-mode: multiply;*/
    width: 100%;
}
figcaption {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
}
h2,
h3 {
    font-style: italic;
    font-weight: 200;
}
h1 {
    padding-left: 12%;
    padding-right: 5%;
    line-height: 3rem;
    padding-bottom: 2rem;
    font-size: 3.2rem;
    font-weight: 400;
}
pre>code {
    font-size: 0.8rem;
    line-height: 1.4rem;
}

/*BookTabs-like tables...fron https://github.com/daveliepmann/tufte-css*/

table.booktabs {
    width: auto;
    margin: 0 auto;
    border-spacing: 0px;
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
}
.booktabs th {
    border-bottom: 1px solid #333333;
    padding: 0.65ex 0.5em 0.4ex 0.5em;
    font-weight: normal;
    text-align: center;
}
.booktabs th.cmid {
    border-bottom: 1px solid #666666;
}
.booktabs th.nocmid {
    border-bottom: none;
}
.booktabs tbody tr:first-child td {
    padding-top: 0.65ex;
}

/* add space between thead row and tbody */

.booktabs td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
}
.booktabs caption {
    font-size: 90%;
    text-align: left;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1ex;
    caption-side: top;
}
@media screen and (max-width: 720px) {
    .main-content {
        padding-top: 0;
    }
    h1 {
        margin-top: 1.5rem;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
    .post-date,
    .post-byline {
        float: none;
        display: block;
        width: 80%;
        margin-left: 18%;
    }
    .post-byline {
        text-size: 0.8rem;
    }
    img.avatar {
        height: 40px;
        width: 40px;
    }
    .author {
        margin-bottom: 0.5rem;
    }
    .post {
        width: 82%;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
}