/*@import url(https://fonts.googleapis.com/css?family=Cardo:400,400italic,700&subset=latin,latin-ext,greek-ext,greek);*/

@font-face { 
    font-family: LMR;
    src: url("lmr/lmroman10-regular.otf"); 
}
@font-face {
    font-family: LMR;
    src: url("lmr/lmroman10-italic.otf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: LMR;
    src: url("lmr/lmroman10-bold.otf");
    font-weight: bold;
}

html {
    font-size: 14pt;
    font-family: LMR;
    font-weight:300;
    line-height: 1.6rem;
    background-color: #f7f7f7;
    color: #111;
}

body {
    padding:0;
    margin:0;
}
.navbar {
    position:fixed;
    height: 30px;
    width: 100%;
    background: #011550;
    opacity: 0.95;
    margin-top:0;
    display:block;
    padding: 10px;
}

#sidebar {
    width: 25%;
    position:fixed;
    top: 0;
    padding: 2.5%;
    left: -40%;
    background: #011550;
    color:white;
    top:45px;
    transition: left 0.5s;
    box-shadow: 1px 1px 5px #2c2c2c;
    height: 100%;
    
    
}

#sidebar.visible {
    left:0;
}


.main-content {
    width: 100%;
    padding-top: 60px;
    
}

.post-date {
    padding-bottom: 1rem;
    margin-left: 5%;
    float: right;
    clear: right;
    width: 25%;
    font-size: 0.8rem;
}
.post-byline {
    float:right;
    padding-top:1rem;
    padding-bottom: 1rem;
    width: 25%; 
    clear:right;

}

.author {
    height:48px;
    margin-bottom:1rem;
    
}
.post {
    width: 65%;
    margin-left:5%;
    
}

.avatar {
    width: 20%;
    background:url(https://storage.googleapis.com/assets.johanpaul.net/images/Baboon_Wikimedia.jpg) no-repeat;
  height:48px;
  width:48px;
  border-radius:50%;
  overflow:hidden;
  margin:auto;
float:left;
}

.author-name{
    margin-left:5%;
    position: relative;
    top:25%;
}

img {
    mix-blend-mode: multiply;
    width: 100%;
}

figcaption {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    
}

h1, h2, h3 {
    font-style:italic;
}

h1{
    padding-left:5%;
    padding-right:5%;
    line-height: 2rem;
    padding-bottom: 2rem;
}
pre>code {
    font-size: 0.8rem;
    line-height: 1.4rem;
}